huggingface-hub==0.36.0
matplotlib
numpy
openai==2.2.0
opencv-contrib-python
opencv-python
pillow==10.4.0
safetensors==0.5.3
scikit-image
scipy
tokenizers==0.20.3
torch
torchaudio
torchvision
tqdm==4.67.1
transformers
open3d